.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 70% 30%;
  background: rgb(0,212,255);
  background: linear-gradient(0deg, rgba(0,212,255,1) 32%, rgba(16,167,247,1) 53%, rgba(4,28,84,1) 98%);
}


